{
  "read_only_mode": false,
  "sandbox_mode": false,
  "sandbox_path": "L:\\Drives Compartilhados\\_TestesBanco",
  "production_drive_id": "0AOB-ISqqs76_Uk9PVA",
  "shared_cache_path": "L:\\Drives Compartilhados\\zRecursos_VoxImago\\file_index_shared.db",
  "scan_paths": [
    "L:\\Drives Compartilhados\\Banco de Imagens"
  ],
  "scan_folders": [
    "L:\\Drives Compartilhados\\Banco de Imagens"
  ],
  "excluded_drive_letters": [],
  "last_selected_folder": "",
  "current_sort": "created_desc"
}
